.DS_Store
Thumbs.db
*.bak
*.swp
*~
.idea/
.vscode/

.venv/
__pycache__/
*.pyc
*.pyd
*.pyo
build/
dist/
*.egg-info/

*.log
log-*.txt
*.kv.py

.buildozer/
*.apk
*.aab
bin/
.csl/
.apk/
.ndk/
.kivy/

Archive.zip
*.iml